/*------------------------------
FONTS
------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');

/*------------------------------
IMAGE STYLES
------------------------------*/
.logo {
    
}

/*------------------------------
PAGE HIERARCHY STYLES
------------------------------*/
.page {
    height: 100vh;
    width: 100vw;
    font-family: 'Mulish';
    background-image: linear-gradient(to bottom, #1c2471 78%, #ff394c);
    display: grid;
    place-content: center;
}

.margins {
    height: 100vh;
    width: min(700px, 90vw);
}

.navbar{
    position: sticky;
    top: 100vh;
    width: 100%;
    height: 5vh;
}

.window {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.16);
    background: #f1f1f1;
}


/*------------------------------
TEXT STYLES
------------------------------*/
.header {
    font-weight: bold;
    color: #f1f1f1;
    font-size: max(20px);
    text-align: center;
    width: 100%;
}

.sub_header {
    font-weight: normal;
    color: #0c108e;
    font-size: max(20px);
    text-align: center;
    width: 100%;
}

.data_header{
    font-weight: bold;
    color: #26308f;
    width: 100%;
}

/*------------------------------
GRID OVERRIDES
------------------------------*/
.ignore_padding{
    padding: 0px !important;
}